.meal {
    padding: 1% 3%;
}

h2 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 100px;
}

#knobs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
}

.knob-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.knob-label {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


/* -------- Mobile ------- */

@media (max-width: 768px) {

    h2 {
        font-size: large;
        margin-bottom: 50px;
    }

    #knobs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
        justify-items: center;
    }

    .knob-item {
        width: 100%;
    }

    :host ::ng-deep p-knob svg {
        width: 100px !important;
        height: 100px !important;
    }
}