.form-default {
    justify-content: center;
    width: 80%;
    margin: auto;
}

.form-default {
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-row label {
    width: 100px;
    margin-right: 1rem;
}

.form-row input {
    flex: 1;
}