<app-navbar></app-navbar>

@if(userService.isAdminOrAgent()){
<button class="btn-add" (click)="redirectToProductAdd()">+</button>
}

<div class="search-section">
    <input type="text" placeholder="Rechercher par nom..." class="search-input" [(ngModel)]="inputSearchName"
        (keyup.enter)="onSearch()" />
    <button class="btn-search" (click)="onSearch()">+</button>
</div>

<div class="table-results table-size">
    <app-generic-tab [rows]="productsState.rows" [totalRecords]="productsState.totalRecords"
        [first]="productsState.page * productsState.rows" [itemList]="productsState.products"
        [itemHeaders]="productsState.productsHeaders" (lazyLoad)="loadProductsLazy($event)"></app-generic-tab>
</div>