<div class="card">
    <p-table class="table-default" [value]="itemList" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords"
        [first]="first" [lazy]="true" (onLazyLoad)="onLazyLoad($event)" [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                @for (header of itemHeaders; track $index) {
                <th>{{header | uppercase }}</th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                @for (header of itemHeaders; track $index) {
                    @if(header === ''){
                        <td>
                            <p-menu #menu [model]="actionsMap.get(item.id)" [popup]="true" appendTo="body"></p-menu>
                            <p-button class="actions-button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"></p-button>
                        </td>
                    }@else {
                        <td>{{item[header]}}</td>
                    }
                }
            </tr>
        </ng-template>
    </p-table>
</div>